<!-- SECCION EDUCACION -->
<section class="educ">
    <div class="titulo">
      <h2>Educacion</h2>

      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
      </button>

    </div>  
    
    <section id="cd-timeline" class="cd-container" >
      <div class="cd-timeline-block">
      </div>
  
      <div class="cd-timeline-block" *ngFor="let Educacion of educacion">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->
  
        <div class="cd-timeline-content">
          <h2>{{Educacion.nombreE}}</h2> 
          <!-- <img src="assets/unc.png" id="unc"> -->
          <p>{{Educacion.descripcionE}}</p>
          <!-- <span class="cd-date">Jan 18</span> -->
            <div class="botones">
              <li><button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                <i class="bi bi-pencil-square"></i></button></li>
              <li><button class="btn btn-danger" (click)="delete(Educacion.id)">
              <i class="bi bi-x-square"></i></button></li>
            </div>

        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
    </section>
</section>


