.wrapper {
    background-color: #0d0d13;
    color: #fff;
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.brand {
    align-items: center;
}

.brand img {
    width: 150px
}

.menu img {
    width: 40px
}

.menu {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.menu  li {
    list-style: none;
    margin: 0 0.5em;
}

.menu a {
    color: #fff;
    text-decoration: none;

}
.menu a:hover {
    color: #000;
    text-decoration: none;

}

.menu li:hover img {
    background-color: #ff0400;
    border-radius: 20px;
    cursor: pointer;
}


.menu .cuenta { 
    padding: 10px 20px;
    background-color: #ff0400;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
}

.menu .cuenta:hover {
    background-color: azure;
    box-shadow: none;
    color: black;
}



@media screen and (max-width:550px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu{
        width: 100%;
        flex-direction: column;
        align-items: center;
        right: 100%;

    }
    .menu  li {
        list-style: none;
        margin: 1em 1em;
    }

    
    }


