/*SKILLS*/
        
  #skills {
    background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.7)),url(/assets/computadora.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
  }
  
  /* Skills titulo */
  #skills h2 {
    max-width: 1000px;
    margin: auto;
  }
  #skills h2 {
    font-size: 30px;
    color: #fff;
    font-family: inherit;
    position: relative;
    background: none;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
  }
  
  #skills h2:focus,
  #skills h2:hover {
    color: #da2d2d;
  }
  
  #skills h2:focus:after,
  #skills h2:hover:after {
    width: 100%;
    left: 0%;
  }
  
  #skills h2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff0400;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }
  
  
  /* Skills barras */
  
  #skills .barras {
    width: 90%;
    margin: auto;
  }
  
  #skills span {
    top: -40px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
  }
  
  progress {
    border: 0;
    height: 2.5em;
    width: 100%;
  }
  
  progress::-webkit-progress-bar {
    background-color: #e0eaf0;
  }
  
  progress::-webkit-progress-value {
    background-color: #da2d2d;;
  }
  
  progress::-moz-progress-bar {
    background-color: #da2d2d;;
  }
  