
<!-- SECCION H A B I L I D A D E S -->
<section id="skills">
    <div class="titulo">
      <h2>Skills</h2>
    </div> 
    <div class="barras">
      <progress value="80" max="100"></progress><span>JavaScript/jQuery</span>
      <progress value="70" max="100"></progress><span>HTML5/CSS3</span>
      <progress value="60" max="100"></progress><span>NodeJS</span>
      <progress value="70" max="100"></progress><span>Java/PHP</span>
      <progress value="60" max="100"></progress><span>MySQL</span>
      <progress value="80" max="100"></progress><span>Photoshop</span>
    </div>
</section>

