/*EXPERIENCIA*/
/*EXPERIENCIA TITULO*/
  .exp {
    background-color: #0d0d13;
    color: #ffffff;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    align-items: center;
  
  }
  
  .exp .about {
    width: 90%;
    margin: auto;
  }
  
  .exp .titulo h2 {
    padding: 0 1em 0 1em ;
    font-size: 30px;
    color: #da2d2d;
    font-family: inherit;
    position: relative;
    background: none;
    text-transform: uppercase;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
  }
  
  .exp  h2:focus,
  .exp  h2:hover {
    color: #fff;
    
  }
  
  .exp  h2:focus:after,
  .exp  h2:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .exp  h2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff0400;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }
  
  /*EXPERIENCIA CUADROS*/
  
  html, body {
    background-color: #0d0d13;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
  }
  
  .cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  background: #2B343A; /*#2B343A*/
  padding: 0 10%;
  border-radius: 2px;
  }
  .cd-container::after {
  content: '';
  display: table;
  clear: both;
  }
  
  /*EDUCACUION CUADROS COMPONENTES*/
  
  #cd-timeline {
  position: relative;
  padding: 0.1em 0 2em;
  margin-top: 2em;
  }
  #cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #ff0400;
  }
  
  .cd-timeline-block {
  position: relative;
  margin: 2em 0;
  }
  .cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
  }
  .cd-timeline-block:first-child {
  margin-top: 0;
  }
  .cd-timeline-block:last-child {
  margin-bottom: 0;
  }
  
  .cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ff0400, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  .cd-timeline-img {
  background: #da2d2d;
  }
  
  .cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #333C42;
  border-radius: 2px;
  padding: 1em;
  
  }
  .cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
  }
  .cd-timeline-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 5px;
  }
  .cd-timeline-content p, .cd-timeline-content .cd-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
  }
  .cd-timeline-content .cd-date {
  display: inline-block;
  }
  .cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  }
  
  .cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
  }
  
  @media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 18px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 16px;
  }
  }
  
  /*EDUCACION LOGOS*/
  .cd-timeline-content img {
    width: 150px
  }
  .cd-timeline-content #IPET260 {
    width: 120px
  }
  .cd-timeline-content #unc {
    width: 150px
  }
  