.inicio {
    background: linear-gradient(to top, rgba(30,35,38,.5),rgba(30,35,38,.7)),url(/assets/codigo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .inicio .banner {
    padding: 20px;
    background-color: #0d0d13;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
  }
  
  .inicio .banner:hover {
    padding: 20px;
    border: 2px ;
    border-radius: 40px;
    background-color: #323232;
    transition: all .7s;
  }
  
  .inicio .banner {
    --hoverContorno: #f4f4f4;
  }
  
  .inicio .banner:hover,
  .inicio .banner:focus {
    -webkit-animation: cardAnimacion 1.7s;
    animation: cardAnimacion 1.7s;
    box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
    border-radius: 40px;
  }
  
  @-webkit-keyframes cardAnimacion {
    0% {
      box-shadow: 0 0 0 0 var(--hoverContorno);
    }
  }
  
  @keyframes cardAnimacion {
    0% {
      box-shadow: 0 0 0 0 var(--hoverContorno);
    }
  }
  
  .inicio .banner img{
    margin-top: 40px;
    border: 8px solid #ff0400;
    display: block;
    width: 100%;
    margin:auto;
    border-radius: 100%;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.75);
  }
  
  
  .inicio .banner h1{
    margin-top: 10px;
    font-size: 35px;
  
  }
  
  .inicio .banner h2{
    font-size: 20px;
    font-weight: normal;
  }
  