/*SKILLS*/

.circulo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  #skills {
    background: linear-gradient( #6e2929cc, rgba(0, 0, 0, 0.7)),url(/assets/computadora.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  

  /* Skills titulo */
  #skills h2 {
    max-width: 1000px;
    margin: auto;
  }
  #skills h2 {
    font-size: 30px;
    color: #fff;
    font-family: inherit;
    position: relative;
    background: none;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
  }
  
  #skills h2:focus,
  #skills h2:hover {
    color: #da2d2d;
  }
  
  #skills h2:focus:after,
  #skills h2:hover:after {
    width: 100%;
    left: 0%;
  }
  
  #skills h2:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff0400;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }
  
  /*SKILL BOTONES*/
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .botones li {
    list-style: none;
    margin: 0 0.5em;
  }