<!--Experiencia-->
<section class="exp">
    <div class="titulo">
      <h2>Experience</h2>
    </div>  
    
    <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
          Nueva Experiencia
      </button>
    </div> 
    
    <section id="cd-timeline" class="cd-container" >
      <div class="cd-timeline-block">
      </div>
  
      <div class="cd-timeline-block" *ngFor="let Experiencia of expe">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->
  
        <div class="cd-timeline-content">
          <h2>{{Experiencia.nombreE}}</h2> 
          <!-- <img src="assets/unc.png" id="unc"> -->
          <p>{{Experiencia.descripcionE}}</p>
          <!-- <span class="cd-date">Jan 18</span> -->
            <div class="botones">
              <li><button class="btn btn-light" (click)="delete(Experiencia.id)">
              <i class="bi bi-pencil-square"></i></button></li>
              <li><button class="btn btn-danger" (click)="delete(Experiencia.id)">
              <i class="bi bi-x-square"></i></button></li>
            </div>

        </div> <!-- cd-timeline-content -->
      </div> <!-- cd-timeline-block -->
      
      
    </section>
</section>
